<!DOCTYPE html>
<html xmlns="html">
<html lang="en">
<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"/></script>
<script type="text/javascript" src="https://cdn.rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"/></script>
<script type="text/javascript" src="cloud.js"/></script>
<head>
    <meta charset="UTF-8">
    <title>Word Cloud Example</title>
</head>
<body>
{% block body %}
{% endblock %}
</body>
<div style="width: 40%;">
    <div class="legend">
        Commonly used words are larger and slightly faded in color.  Less common words are smaller and darker.
    </div>

</div>
</html>
